node_modules/
dist/
*.log
*.db-journal
*.db-shm
*.db-wal
server/pixon.db-journal
server/pixon.db-shm
server/pixon.db-wal
.env
.DS_Store
server/pixon.db
add_ids.js
modify_links.js

# Backups MariaDB
backups/
*.sql.gz
server/sql/*.dump.sql
